.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    padding: 10px 15px;
    font-size: 12px;
    background: #d4d4d4;
    z-index: 10;
    text-align: center;
}

.footer-elements {
    margin: 10px;
}